.gridContainer {
  @apply grid md:grid-cols-2 lg:grid-cols-4 justify-items-center justify-center;
  gap: 2rem;
  margin-bottom: 10rem;
}

.gridyContainer {
  @apply grid grid-cols-1 md:grid-cols-2 justify-items-center;
  gap: 2rem;
  margin-bottom: 5rem;
}
.imgContainer {
  @apply object-cover relative;
  height: 50vh;
  width: 80vw;
  border-radius: 10px;
}

.titles {
  font-size: 3rem;
  font-weight: light;
  color: #444;
}
.item {
  font-size: 1.5rem;
  font-weight: light;
  margin-bottom: 1.5rem;
}

.price {
  @apply text-3xl font-medium my-3.5;
}
.colorSelect {
  @apply inline-block cursor-pointer;
  margin-top: 0;
  margin-bottom: 3rem;
  background-color: rgb(250, 244, 244);
  width: 5rem;
  border-radius: 2.5rem;
}
.sizeContainer {
  @apply bg-[#171a20] text-center  cursor-pointer text-white text-3xl hover:bg-[yellow] hover:text-[black]  transition-all duration-300;
  border-radius: 5px;
}

.buttons {
  @apply flex flex-col;
  margin-top: 3rem;
}

.btnOne {
  @apply text-2xl text-white bg-[#171a20] font-medium uppercase my-2 py-[0.4rem] px-[2.4rem]  w-[25.5rem] h-16   hover:bg-[yellow] hover:text-[black]  transition-all duration-300;

  border-radius: 0 10px 20px 40px;
}

.btnTwo {
  @apply text-2xl text-white bg-[#171a20] font-medium uppercase my-2 py-[0.4rem] px-[2.4rem]  w-[25.5rem] h-16   hover:bg-[yellow]  hover:text-[black]   transition-all duration-300;
  border-radius: 10px 40px 0px 20px;
}

@media screen and (min-width: 780px) {
  .imgContainer {
    height: 70vh;
    width: 60%;
  }
}
